[user]
    name = Suguru Ochiai
    email = suguru.ochiai@works.ochipin.net
[core]
    editor = vim 
    pager = LESSCHARSET=utf-8 less
    quotepath = false
    # LFをGitがCRLFへ変更しようとするが、autoCRLFをfalseにすることで、変更しなくなる
    # warning: CRLF will be replaced by LF in ... 警告メッセージが出なくなる
    autoCRLF = false
[merge]
    ff = false
[pull]
    ff = only
[color]
    ui = auto
[http]
    postBuffer = 524880000
    # sslVerify = false
    # proxy = http://proxy.com:8080
[https]
    postBuffer = 524880000
    # proxy = http://proxy.com:8080
[alias]
    # https://qiita.com/qurage/items/daa67763e5a0090af06a
    g = log --pretty=format:'%C(red reverse)%d%Creset%C(white reverse) %h% Creset %C(green reverse) %an %Creset %C(cyan)%ar%Creset%n%C(white bold)%w(80)%s%Creset%n%n%w(80,2,2)%b' --graph --name-status
